git+https://github.com/NeuroLang/NeuroLang#egg=neurolang
git+https://github.com/NeuroLang/neurolang_ipywidgets#egg=neurolang-ipywidgets

# jupyterhub is required and needs to be the same version as the one running on the server.
# see https://repo2docker.readthedocs.io/en/latest/howto/jupyterhub_images.html
jupyterhub==1.4.0
jupyter==1.0.0
jupytext==1.11.1
ipysheet==0.4.4
nilearn== 0.7.1
ipywidgets==7.6.3
traitlets>=4.3.3
pandas==1.1.5
plotly==4.14.3
voila==0.2.10